.main-header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .navigation a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: inherit;
}

.main-header .navigation a:hover {
    background-color: #777777;
}

.logo{
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}